<div id="larger" class="image_padding"> 

  <div id="wrapper">
    
    <div id="header">
      <div class="ui grid">
        <div class="ui twelve wide column"></div>
        <div class="ui four wide column signInButtons">
          <%= link_to "Sign up", new_user_path, :class => "ui button"%>
          <%= link_to "Sign in", login_path, :class => "ui button"%>
         </div>
      </div>
    </div><!-- #header -->
    
    <div id="content">
      <div class="subBackground">
        <h1 class="about_header">Median </h1>
        
        <p class="about_text">Looking to meet a friend but you don't know where you will meet or what you will do? Median allows friends from distances both near and far find a "Median" location between two (or more locations) and provides a delightful venue based on your personalized preferences. Simply login to start enjoying the conveniences that Medium has to offer.</p>
      </div>
    </div><!-- #content -->
    
    <div id="footer">
        <div class="ui inverted segment footer">
          <%= link_to "Our Team", contact_us_path, :class => "footer_link"%>
        </div> 
    </div><!-- #footer -->
    
  </div><!-- #wrapper -->



  





</div>


<!-- <script>
  
  var images = ["/assets/restaurant-690569_1280.jpg", "https://static.pexels.com/photos/5938/food-salad-healthy-lunch.jpg", "/assets/restaurant-690569_1280.jpg"];

  var randomNum = Math.floor(Math.random() * images.length); 
  console.log(randomNum);

  var randomImage = images[randomNum];

$("#larger").css("background", "url(" + randomImage + ")");

console.log(randomImage);

</script> 
-->

<!--  hidden field with latitude and longitude. sent when user hits submit..
  - type: hidden, for input element.. 

 when user hits button, calculate lat and lng, prevent default action of button.. 
  - send  -->