<div class="contact_container darkblue">



<div class="ui grid">
<!-- row zero -->
	<div class="sixteen wide column darkblue"></div>

<!-- row one -->
  <div class="three wide column darkblue"></div>
  <div class="ten wide column darkblue">
		  <div class="ui inverted segment">
			  <h2 class="style_font">Median's Dev Team</h2>
			</div>
  </div>
  <div class="three wide column darkblue"></div>
</div>

<!-- row two -->
<div class="ui grid padding gray_neutral">
  <div class="four wide column">
  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKkAAAAJGU3NjZkYjc5LTY5ZDItNDFmYi1hMWIzLTEzZGQzNTMxNjQyZA.jpg" alt="Lorien Smyer">
  	<div>
  		<h2> <a class="contact_link" href="https://www.linkedin.com/in/loriensmyer">Lorien Smyer</a>
  		<a class="linkedin_icon" href="https://www.linkedin.com/in/loriensmyer"><i class="linkedin square icon"></i></a>
  		</h2>

  		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  	</div>
  </div>
  <div class="four wide column">
  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKXAAAAJDBjYzNlODJmLTY4ZGEtNDM0ZS04ZGMwLWY2ZjNiMjBmNTczYw.jpg" alt="John Hur">
  	<div>
  		<p>John Hur</p>
  		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  		<a class="contact_link" href="https://www.linkedin.com/in/hurjohn"><i class="linkedin icon"></i></a>
  	</div>
  </div>
  <div class="four wide column">
  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAb0AAAAJGRiNGYxNTg3LWFmNTgtNGIyZS1iNzM5LTNkYzVjOTZlMTM2ZA.jpg" alt="Daphne Watson">
  	<div>
  		<p>Daphne Watson</p>
  		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  		<a class="contact_link" href="https://www.linkedin.com/in/daphnewatson"><i class="linkedin icon"></i></a>
  	</div>
  </div>
  <div class="four wide column">
  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/057/365/0319ae5.jpg" alt="Laura Kirby">
  	<div>
  		<p>Laura Kirby</p>
  		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  		<a class="contact_link" href="https://www.linkedin.com/in/laurakirby26"><i class="linkedin icon"></i></a>
  	</div>
  </div>
</div>
<!-- row three -->

<div class="ui grid">
	<div class="sixteen wide column">
		<div class="ui inverted segment footer">
		  <%= link_to "About Median", about_path, :class => "footer_link"%>
		  <%= link_to "Sign up", new_user_path, :class => "footer_link"%>
		  <%= link_to "Sign in", login_path, :class => "footer_link"%>
		</div> 
  </div>
</div> <!-- end ui grid -->


		






</div>