
<div class="wrapper"> 
<div class="ui grid">
<!-- row zero -->
	<div class="sixteen wide column darkblue"></div>

<!-- row one -->
  <div class="three wide column darkblue"></div>
  <div class="ten wide column darkblue">
		  <div class="ui inverted segment">
			  <h2 class="style_font">Median's Developer Team</h2>
			</div>
  </div>
  <div class="three wide column darkblue"></div>
</div>

<!-- row two -->
<div class="ui grid padding lightPurple">
  <div class="four wide column">
  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKkAAAAJGU3NjZkYjc5LTY5ZDItNDFmYi1hMWIzLTEzZGQzNTMxNjQyZA.jpg" alt="Lorien Smyer">
  	<div>
  		<p class="description">
        <a class="member contact_link" href="https://www.linkedin.com/in/loriensmyer">Lorien Smyer</a>
        <a class="linkedin_icon" href="https://www.linkedin.com/in/loriensmyer"><i class="small linkedin square icon"></i></a>
        <span>"With a sincere joy of writing code, Lorien brings excitment and full-stack web development to the team"</span>
      </p>
  	</div>
  </div>
  <div class="four wide column">
  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKXAAAAJDBjYzNlODJmLTY4ZGEtNDM0ZS04ZGMwLWY2ZjNiMjBmNTczYw.jpg" alt="John Hur">
  	<div>
  		<p  class="description">
        <a class="contact_link" href="https://www.linkedin.com/in/hurjohn">John Hur</a>
        <a class="linkedin_icon" href="https://www.linkedin.com/in/hurjohn"><i class="small linkedin square icon"></i></a> 
        <span>"Having a background in labratory work, John brings efficient testing and full-stack web development to the team"</span>
      </p>
  	</div>
  </div>
  <div class="four wide column">

  	<img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAb0AAAAJGRiNGYxNTg3LWFmNTgtNGIyZS1iNzM5LTNkYzVjOTZlMTM2ZA.jpg" alt="Daphne Watson">
  	<div>
  		<p class="description">     
        <a class="contact_link" href="https://www.linkedin.com/in/daphnewatson">Daphne Watson</a>
        <a class="linkedin_icon" href="https://www.linkedin.com/in/daphnewatson"><i class="small linkedin square icon"></i></a>
        <span>"Showing strengths in front-end development and fashion, Daphne brings pizazz and confidence to the team"</span>
      </p>
  	</div>
  </div>
  <div class="four wide column">
  		<a href="https://www.linkedin.com/in/laurakirby26"><img class="each_member" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/057/365/0319ae5.jpg" alt="Laura Kirby"></a>
  	<div>
  		<p class="description">     
        <a class="contact_link" href="https://www.linkedin.com/in/laurakirby26">Laura Kirby</a>
        <a class="linkedin_icon" href="https://www.linkedin.com/in/laurakirby26"><i class="small linkedin square icon"></i></a>
        <span>"Excited about learning iOS and inclusivity, Laura brings full-stack development and random humor to the team"</span>
      </p>
  	</div>
  </div>
</div>
<!-- row three -->


<div class="clearfooter"></div>
</div><!-- end wrapper -->


<div id="footer">
<div class="ui grid">
  <div class="nine wide column darkblue"></div>
  <div class="six wide column darkblue">
		  <%= link_to "About Median", about_path, :class => "footer_link"%>
		  <%= link_to "Sign up", new_user_path, :class => "footer_link"%>
		  <%= link_to "Sign in", login_path, :class => "footer_link"%>
	</div> 
  <div class="one wide column darkblue"></div>
</div>
</div>






