<div id="map-index">

<!-- The class="index" in the h3 tag below is needed for the users.js file. Do not remove -->
<h3 class="index"></h3>
	<div class="ui two column centered grid">
		<div class="column first">
		  <div class ="ui form">
		    <%= form_tag("/search", method: "get") do %>
		    	<div class="three fields">
		    			<div class="field">
		    				<%= label_tag(:q, "Search for a category:", ) %>
		    			</div>
		    		  <div class="field">
		    		  	<!-- keep user_term for js selector -->
		    		  	<%= text_field_tag(:q, nil, class:"user_term", autofocus: true) %>
		    		  </div>
		    		  <div class="field">
		    		  	<%= submit_tag("Search", class:"tiny ui button") %>
		    		  </div>
		    	</div>
		    <% end %>
		  </div>
	  </div>
	</div>

		<div class="ui grid">
			<div class="three column row">
			<!-- IDs "friends" and "show" are needed for handlebar files. Do not remove -->
				<div class="two wide column"><button id="friends" class="small ui button">Logged-in Friends</button></div>
				<div class="two wide column" id="show"></div>
				<div class="twelve wide column"><div id='map'></div></div>
				<div class="two wide column"></div>
			</div>
		</div>

			<div class="column first">
				<div id='map'></div>
			</div>

</div>

