<div id="map-index">

<!-- The class="index" in the h3 tag below is needed for the users.js file. Do not remove -->
<h3 class="index"></h3>
	<div class="ui two column centered grid">
		<div class="column first">
		  <div class ="search-container">
		    <%= form_tag("/search", method: "get") do %>
		      <%= label_tag(:q, "Search for a category:", ) %>
		      <%= text_field_tag(:q, nil, class:"user_term", autofocus: true) %>
		      <%= submit_tag("Search", class:"tiny ui button") %>
		    <% end %>
		  </div>
	  </div>
	</div>

		<div class="ui grid">
			<div class="three column row">
			<!-- IDs "friends" and "show" are needed for handlebar files. Do not remove -->
				<div class="two wide column"><button id="friends" class="small ui button">Logged-in Friends</button></div>
				<div class="two wide column" id="show"></div>
				<div class="twelve wide column"><div id='map'></div></div>
				<div class="two wide column"></div>
			</div>
		</div>

			<div class="column first">
				<div id='map'></div>
			</div>

</div>

