// Place all the styles related to the basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-dark-blue: #394263;
$main-gray-neutral: #e8e9fe;
$main-turquoise: #20b6ad;
$main-light-blue: #559adf;
$main-purple: #53455c;


//** ------------------------ CONTACT PAGE ------------------------ **//

//------------------------ GENERAL ------------------------
body {
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	min-height: 100%;
	position: relative;	
}

.lightPurple {
	background-color: $main-gray-neutral;
}

.darkblue {
	background-color: $main-dark-blue;
}

h1 {
	color: white;
}

//------------------------ HEADER ------------------------

.style_font{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 200%;
}

//------------------------ BODY / TEAM MEMBER ------------------------
.ui.grid.padding {
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	postion:relative;
}

.linkedin_icon {
	color: $main-turquoise;
}

img.each_member {
	width: 80%;
	height: 80%;
	border-radius: 5%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact_link{
	color: $main-turquoise;
}

.description{
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 120%;
}

//------------------------ FOOTER ------------------------
about {
	background-color: $main-dark-blue;
	margin-bottom: 0;
	right: 0;
	width: 100%;
	text-align: right;
	position: fixed;
}

#footer {
	height: 5%;
	position: relative;
}

.clearfooter {
height: 5%;
clear: both;
}

//** ------------------------ ABOUT PAGE ------------------------ **//

//------------------------ HEADER ------------------------
.signInButtons{
	float: right;
	margin-bottom: 5%;
}

.about_header{
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	padding-top: 1%;
}

.ui.button.about{
	margin-right: 2%;
}

//------------------------ BODY ------------------------

.subBackground{
	background-color: #424242;
	opacity: 0.9;
	width: 80%;
	border-top: 5%;
	border-radius: 2%;
	padding: 1% 1%;
	margin-left: 5%;
}

.about_text {
	color: white;
	font-size: 125%;
	padding-bottom: 1%;
}

