// Place all the styles related to the basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-dark-blue: #394263;
$main-gray-neutral: #e8e9fe;
$main-turquoise: #20b6ad;
$main-light-blue: #559adf;
$main-purple: #53455c;


//** ------------------------ CONTACT PAGE ------------------------ **//
//----------------------------------------------------------------------

//------------------------ GENERAL PAGE ------------------------
.wrapper {
	min-height: 100%;
	position: relative;
	background-color: $main-gray-neutral;
}
.lightPurple{
	background-color: $main-gray-neutral;
}
.style_font{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 200%;
}

.gray_neutral {
	background-color: $main-gray-neutral;
}


//------------------------ HEADER ------------------------
.darkblue{
	background-color: $main-dark-blue;
}


//------------------------ BODY / TEAM MEMBER ------------------------
.ui.grid.padding {
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
	postion:absolute
}

.contact {
	color: $main-dark-blue
}

.linkedin_icon {
	color: $main-turquoise
}

img.each_member {
	width: 80%;
	height: 80%;
	border-radius: 5%;
	display: block;
  margin-left: auto;
  margin-right: auto
}

.contact_link{
	color: $main-turquoise;
}

.description{
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 120%;
}

//------------------------ FOOTER ------------------------
.ui.inverted.segment.about {
	background-color: $main-dark-blue;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: right;
	position: fixed;
}

//** ------------------------ ABOUT PAGE ------------------------ **//
//----------------------------------------------------------------------

//------------------------ BODY ------------------------
.about_text {
	color: white;
}

